.container{
    background:  #ffd54f;
    display: flex;
    /*flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;*/
    /*flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;*/

    /*short hand for flex-direction and flex-wrap*/
    /*flex-flow: row-reverse wrap;*/
}

.item{
    font-size: 100px;
    padding: 20px;
    background: #ffffff;
    margin: 3px;
    text-align: center;
    text-shadow:  4px 4px 0 rgba(0,0,0,0.1);
    box-shadow:  1px 1px 0 rgba(0,0,0,0.1);

}